@media only screen and (min-width:1201px){
}
@media only screen and (max-width:1200px){
    .body{
        justify-content:center;
    }

    .left{
        width:395px;
    }

    .col-lg-2{
        margin-left:0;
    }

    .col-lg-5{
        margin-left:69px;
    }


    .text{
        margin-left:20px;
    }

    .subscribe__input{
        margin-left:20px;
        width:100%;
    }

    .slider{
        width:220px;
    }
}


@media only screen and (max-width:900px) {   

    .box{
        display:flex;
        flex-direction:column;
        margin:185px;
        height:1010px;
    }

    
    
    
    .cols{
        width:100%;
    }

   .row ,.text ,.subscribe ,.social{
       margin:0 auto;
   }
   

    .left{
        height:450px;
    }
    
    
    .col-md-2 ,.col-lg-2{
        margin-left:0;
    }
    .col-md-6{
        margin-left:18%;
    }


    .logo__img{
        margin-left:0;
    }

    .main-nav__item{
        font-size:13px;
        margin-bottom:2px;
    }
    .text{
        margin-right:32%;

        &__title{
            font-size:1.8em;
        }

        &__style{
            font-size:1em;
        }
    }

  

    
    .subscribe{
        &__input{
            margin-right:35px;
            margin-bottom:45px;
            width:105%;
        }

        &__arrow-right{
            font-size:25px;
            bottom:90px;
        }

        [placeholder]{
            font-size:1.2em;
        }
    }

    .social{
        margin-bottom:85px;
        margin-left:85px;
    }

    .slider{
        height:523px;
        margin:20px;
    
        &__swiper{
                height: calc(490px / 3);
        }
    
        &__img{
            text-align: center;
        }


        &__title{
            font-size:1.2em;
        }

        &__boton{
            
            &--1{
               margin-left:-55px 
            }
        }
    }
}


@media only screen and (max-width:600px){
    body{
        font-size:1em;
    }

    .cols{
        width:455px;
    }



    .left{
        background:#fff;
       
    }

    .logo__img{
        width:52px;
        height:52px;
    }


    .col-sm-2{
        margin-left:10%;
    }

    .col-sm-5{
        margin-left:25%;
    }

    .text{

        &__title{
            font-size:1.5em;
        }

        &__style{
            font-size:1em;
        }
    }

    .subscribe{
        &__input{
            height:50px;
            margin-left:1px;
            width:120%;
        }

        &__arrow-right{
            margin-top:10px;
        }

        [placeholder]{
            font-size:0.97em;
        }
    }

    .social__icon{
        width:30px;
        height:30px;
        font-size:1.3em;
    }

    .slider{
        &__title{
            font-size:1em;
        }
        
    }


}

@media only screen and (max-width:488px){
    body{
        font-size:0.95em;
    }
    .left{
        background:#fff;
    }

  

    .logo__img{
        width:49px;
        height:49px;
    }

    .text{
        margin-top:10px;
        margin-left:105px;
        width:455px;
    }

    .col-sm-2{
        margin-left:75px;
    }

    .col-ml-6{
        margin-left:15%;
        margin-top:-4px;
    }


    .subscribe{
        &__arrow-right{
            font-size:20px;
            margin-top:10px;
        }
    }

    .slider{
       &__title{
           font-size:0.95em;
       }
    }
}




