@media only screen and (min-width:1201px){
    /*#particles-js{
        min-height:130vh;
    }*/

    /*.social{
        /*background:#c9f658;*/
       /* margin:6px;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-right: 55px;
            
    
        &__list{
            /*background:#9692af;*/
           /* display:flex;
            flex-direction:row;
        }
    
        &__item{
            list-style:none;  
        }
    
        &__link{
            text-decoration: none;
        }
    
        &__icon{
            /*display:block;*/
           /* position:relative;
            width:40px;
            height:40px;
            line-height:50px;
            font-size:1.57em;
            border-radius:50%;
            margin-left:40px;
            display:flex;
            align-items:center;
            justify-content:center;
            background:#ffff;
            border:1px solid #e7d6e3ce;
            color:gray;
    
            &--1:hover{
                background:#fff;
                color:#55acee;  
            }
    
            &--2:hover{
                background:#3b5999;
                color:#fff;
            }
    
            &--3:hover{
                background:#fff;
                color:#cd201f; 
            }
    
            &--4:hover{
                color:#fff;
                background:linear-gradient(to right,#f46f30 60%,#c32aa3);
            }
        }
    
    }

    .slider__boton{
        &--1{
            bottom:320px;
            left:288px;
        }

        &--2{
            bottom:260px;
            left:261px;
        }
    }*/
    
}
@media only screen and (max-width:1200px){
   /* body{
        font-size:0.85em;
    }
    /*#particles-js{
    background:linear-gradient(to right, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 20%,rgba(255,94,124,1) 99%);
    width:100%;
    min-height:110vh;
}*/
   /* .box{
        width:905px;
        height:500px;
    } 

     .text{
        margin-top:35px; 
    }

    .col-lg-2{
        margin-left:15px;
    }

    .col-lg-5{
        margin-left:69px;
    }


    .text{
        margin-left:28px;
    }

    .subscribe__input{
        margin-left:20px;
        width:100%;
        height:65px;
    }

    .slider{
        width:200px;
        height:400px;

        &__swiper{
            height:calc(100% / 3);

            &:not(:nth-child(3)){
                margin-bottom:5px; 
            }
        }
    }*/
}



@media only screen and (max-width:900px) {
   .box{
       margin-top:55px;
        width:400px;
        display:flex;
        flex-direction:column;
        height:410px;
    }

    
    
    
    .cols{
        width:100%;
    }

   .row ,.text ,.subscribe ,.social{
       margin:0 auto;
   }
   

    .left{
        height:250px;
    }

    .right{
        height:300px;
    }
    
    
    .col-md-2 ,.col-lg-2{
        margin-left:0;
    }
    .col-md-6{
        margin-left:18%;
    }


    .logo__img{
        margin-left:0;
    }

    .main-nav__item{
        font-size:13px;
        margin-bottom:2px;
    }
    .text{
        margin-right:32%;
        height:110px;

        &__title{
            font-size:1.8em;
        }

        &__style{
            font-size:1em;
        }
    }

  

    
    .subscribe{
        &__input{
            margin-left:-45px;
            margin-bottom:95px;
            height:45px;
            width:150%;

            &:focus + .subscribe__arrow-right{
                bottom:130px;
            }
        }

        &__arrow-right{
            font-size:1.3em;
            bottom:125px;
            margin-left:25px;
        }

        [placeholder]{
            font-size:1em;
        }
    }

    .social{
        position:absolute;
        margin-top:-65px;
        margin-left:45px;

        &__menu{
            margin-top:-445px
        }

        &__list{
            flex-direction:column;
        }

        &__item{
            margin-left:5px;
        }

        &__icon{
            width:20px;
            height:20px;
            font-size:1em;
            margin-left:215px;

        }
    }

    .slider{
        position:relative;
        top:35px;

        &__boton{
            font-size:1.2em;
            
            &--1{
                margin-bottom:-5px;
                margin-left:-8px
            }
            &--2{
                margin-bottom:20px;
                margin-left:-8px;
            }
        }
    }

    .wrapper{
        height:218px;
        width:125px;
        margin:20px;

    
        &__swiper{
                height: calc(213px / 3);
                margin-right:15px;

            & i {
                text-align:center;
                font-size:1.3em;
                margin-bottom:5px;
            }

            & p{
                font-size:0.82em;
            }

            &:hover{
                background:white;
                color:rgba(155,155,155,0.8);
            }
        }

        .wrappers{

            &:nth-child(1){
                margin-top:35px;
            }


        }
    

    }
}


@media only screen and (max-width:600px){
    /*.body{
        font-size:0.98em;
    }

    .box{
        height:500px;
        width:455px;
    }




    .left{
        background:#fff;
        width:455px;
       
    }


    .right{
        width:455px;
       
    }

    .logo__img{
        width:52px;
        height:52px;
    }


    .col-sm-2{
        margin-left:10%;
    }*/

    .col-sm-5{
        margin-left:30%;
    }

    /*.text{

        &__title{
            font-size:1.6em;
            font-weight:500;
        }

        &__style{
            font-size:1em;
        }
    }

    .subscribe{
        &__input{
            height:50px;
            margin-left:1px; 
            width:105%;
        }

        &__arrow-right{
            margin-top:0;
        }

        [placeholder]{
            font-size:0.97em;
        }
    }*/

    .social{
        
        &__menu{
            margin-left:20px;

        }

        &__icon{
            width:20px;
            height:20px;
            font-size:1em;
        }
    }

    /*.slider{
        &__title{
            font-size:0.8em;
        }
        
    }*/


}

@media only screen and (max-width:488px){
    /*#particles-js{
        width:120%;
        min-height:150vh;
    }*/

    /*.row{
        width:305px;
    }
    .body{
        font-size:0.95em;
    }*/
   .box{
     
     margin-top:55px;
     width:325px;
    }
    /*.left{
        background:#fff;
        width:345px;
    }
    .right{
        width:345px;
    }

  

    .logo__img{
        width:49px;
        height:49px;
        
    }*/

    .main-nav__item{
        font-size:0.6em;
    }


    /*.text{
        margin-top:10px;
        margin-left:45px;
        white-space: nowrap;
        width:155px;
    }

    .col-sm-2{
        margin-left:10px;
    }

    .col-ml-6{
        margin-left:100px;
        margin-top:4px;
    }*/


    .subscribe{
        &__input{
            margin-left:10px;
            width:100%;
        }

        &__arrow-right{
            margin-left:-5px;
            bottom:122px;
        }

       
    }

    .social__menu{
        margin-left:-30px;
    }

    /*.slider{
       &__title{
           font-size:0.95em;
       }
    }*/
}




